// colors
$mainColor: #E2494C;
$secondaryColor: #A4A4A4;

// direction
$float-left: left;
$float-right: right;

// media
$maxExtraSmall: "(max-width: 575px)";
$minSmall: "(min-width: 576px)";
$minMedium: "(min-width: 768px)";
$minLarge: "(min-width: 992px)";
$minExtraLarge: "(min-width: 1200px)";