/* start styling for btn */
.btn {
    background-color: $mainColor;
    font-weight: bold;
    text-align: center;
    padding: 10px 15px;
    border: 1px solid $mainColor;
    outline: none;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
}
/* end styling for btn */